@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  resize: none;
  text-transform: capitalize;
}

html {
  scroll-behavior: smooth;
}

.grid-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.grid-3, body section:nth-of-type(1) .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}

.grid-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}

.grid-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 5px;
}

.grid-9 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 5px;
}

.grid-10 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 5px;
}

.grid-11 {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-gap: 5px;
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 5px;
}

.flex-column, body .form-container form, body .form-container, body section:nth-of-type(1) .cards .card, body section, .x-end, .x-start, .y-end, .y-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: inline-flex;
  justify-content: space-between;
}

.y-start, body .form-container form, body section:nth-of-type(1) .cards .card, body section {
  justify-content: flex-start;
}

.y-end {
  justify-content: flex-end;
}

.x-start, body .form-container form {
  align-items: flex-start;
}

.x-end {
  align-items: flex-end;
}

.no-shadow {
  box-shadow: none !important;
}

::-webkit-scrollbar {
  width: 5px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #1e2f36, #176c8e);
  border-radius: 10px;
}

.btn-primary {
  background-color: #03567d;
  color: rgba(255, 255, 255, 0.9333333333);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: small;
}
.btn-primary i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-primary:hover {
  transition: all 0.3s ease-in-out;
  background-color: #034564;
}

.btn-secondary {
  background-color: #18b1f8;
  border: 2px solid #02344b;
  color: #111111;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: small;
}
.btn-secondary i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-secondary:hover {
  transition: all 0.3s ease-in-out;
  background-color: #0795d7;
}

.btn-rounded {
  border-radius: 15px;
}

.btn-flat {
  border-radius: 0;
}

.btn-red {
  background-color: rgb(218, 64, 64);
  color: rgba(255, 255, 255, 0.9333333333);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-red i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-red:hover {
  background-color: #c22525;
}

.btn-green {
  background-color: rgb(5, 194, 106);
  color: rgba(255, 255, 255, 0.9333333333);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-green i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-green:hover {
  background-color: #04904f;
}

.btn-white {
  background-color: rgba(255, 255, 255, 0.9333333333);
  color: #111111;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-white i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-white:hover {
  background-color: rgba(230, 230, 230, 0.9333333333);
}

.shadowed, body .form-container form textarea, body .form-container form, body section:nth-of-type(3) form textarea, body section:nth-of-type(3) form input, .google-btn {
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.478), inset -1px -1px rgba(255, 255, 255, 0.132), 1px 3px 24px -1px rgba(0, 0, 0, 0.27);
}

.btn-round {
  border-radius: 50%;
}
.btn-round * {
  margin: 0;
  padding: 0;
}

.btn-transparent-primary {
  background-color: transparent;
  color: #02344b;
  border: 2px solid #02344b;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-transparent-primary i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-transparent-primary:hover {
  background-color: #02344b;
  color: rgba(255, 255, 255, 0.9333333333);
}

.btn-transparent-secondary {
  background-color: transparent;
  color: #18b1f8;
  border: 2px solid #18b1f8;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-transparent-secondary i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-transparent-secondary:hover {
  background-color: #18b1f8;
  color: rgba(255, 255, 255, 0.9333333333);
}

.btn-gradient-blue {
  background: linear-gradient(-45deg, #01131d, #5b9cba);
  color: white;
  letter-spacing: 1px;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
  transition: all 1s ease-in;
}
.btn-gradient-blue i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-gradient-blue:hover {
  background: linear-gradient(-45deg, #5690ab, #021d2a);
}

.btn-gradient, body .form-container form input:last-of-type {
  background: linear-gradient(60deg, #1099d9, #d40256);
  color: white;
  letter-spacing: 1px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s ease-in;
}
.btn-gradient i, body .form-container form input:last-of-type i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-gradient:hover, body .form-container form input:hover:last-of-type {
  background: linear-gradient(-45deg, #0d6790, #d40256);
}

.btn-transparent-white {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.9333333333);
  border: 2px solid rgba(255, 255, 255, 0.9333333333);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-transparent-white i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-transparent-white:hover {
  background-color: rgba(255, 255, 255, 0.9333333333);
  color: #111111;
}

.google-btn {
  margin: 25px;
  width: -moz-max-content;
  width: max-content;
  min-width: 184px;
  height: 42px;
  border-radius: 2px;
  cursor: pointer;
  cursor: hand;
  align-self: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 400ms ease 0s;
  display: flex;
  border-radius: 1px;
  padding: 0 10px;
  padding-bottom: 10px;
}

.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.google-btn .google-icon-svg {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.google-btn .btn-text {
  float: right;
  margin: 11px 14px 40px 40px;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: Roboto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.google-btn:hover {
  box-shadow: 0 3px 8px rgba(117, 117, 117, 0.5);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.google-btn:active {
  box-shadow: 0 1px 1px #757575;
  background: #F8F8F8;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.normal-btn {
  margin: 25px;
  width: auto;
  display: inline-block;
  min-width: auto;
  max-width: 184px;
  height: 42px;
  background-color: #fcfcfc;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  cursor: hand;
  align-self: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: all 400ms ease 0s;
}

.normal-btn .btn-text {
  float: left;
  margin: 11px 14px 11px 14px;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: Roboto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.normal-btn:hover {
  box-shadow: 0 3px 8px rgba(117, 117, 117, 0.5);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.normal-btn:active {
  box-shadow: 0 1px 1px #757575;
  background: #F8F8F8;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.dot-primary {
  height: 30px;
  width: 50px;
  background-color: #02344b;
  border-radius: 50%;
}

.border-primary {
  height: 1px;
  width: 100px;
  background-color: #117dc5;
  padding: 0;
  border-radius: 50px;
}

.border-secondary {
  height: 1px;
  width: 100px;
  background-color: #cfe5fe;
}

.border-white {
  height: 1px;
  width: 100px;
  background-color: #fff;
}

.border-black {
  height: 1px;
  width: 100px;
  background-color: #111111;
}

.txt-caps {
  text-transform: uppercase;
}

.txt-lower {
  text-transform: lowercase;
}

.txt-light {
  font-weight: 300;
}

.txt-primary {
  color: #03567d;
}

.txt-secondary {
  color: #0795d7;
}

.txt-white {
  color: rgba(255, 255, 255, 0.9333333333);
}

.txt-black {
  color: #111111;
}

.txt-red {
  color: rgb(218, 64, 64);
}

.txt-green {
  color: rgb(5, 194, 106);
}

.txt-center {
  text-align: center;
}

.txt-grey {
  color: #777777;
}

.txt-gradient, body .form-container form h1, body section:nth-of-type(1) .cards .card h1, body section:nth-of-type(1) .cards .card i, body header nav ul li a:hover {
  background: linear-gradient(-20deg, #18b1f8, #e94383);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 1px;
}

.txt-gradient-light {
  background: linear-gradient(60deg, #ffffff, #107aab);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 1px;
}

/* Animations */
@keyframes changebg {
  0% {
    background: rgb(48, 0, 31);
    background: radial-gradient(circle, rgb(48, 0, 31) 5%, rgb(0, 0, 0) 45%);
  }
  25% {
    background: rgb(48, 0, 31);
    background: radial-gradient(circle, rgb(9, 25, 23) 5%, rgb(0, 0, 0) 45%);
  }
  50% {
    background: rgb(48, 0, 31);
    background: radial-gradient(circle, rgb(37, 15, 32) 5%, rgb(0, 0, 0) 45%);
  }
  75% {
    background: rgb(48, 0, 31);
    background: radial-gradient(circle, rgb(0, 11, 41) 5%, rgb(0, 0, 0) 45%);
  }
  100% {
    background: rgb(48, 0, 31);
    background: radial-gradient(circle, rgb(0, 11, 41) 5%, rgb(0, 0, 0) 45%);
  }
}
@keyframes rotate {
  100% {
    opacity: 1;
    transform: rotate(3600deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  0% {
    position: relative;
    left: -100px;
    opacity: 0;
  }
  50% {
    position: relative;
    left: 10px;
    opacity: 0.5;
  }
  100% {
    position: relative;
    left: 0px;
    opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes wobble {
  0% {
    transform: scale(0.2);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body header {
  height: 50px;
  width: 100%;
  background: linear-gradient(45deg, #03567d, #011219);
  display: inline-flex;
  z-index: 999;
  position: fixed;
  top: 0;
}
body header .title {
  position: relative;
  left: 1%;
  top: 25%;
}
body header .title p {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 18px;
}
body header nav {
  display: inline-flex;
  position: relative;
  left: 60%;
}
body header nav ul {
  display: inherit;
  position: relative;
  top: 25%;
}
body header nav ul li {
  margin: 0 10px;
}
body header nav ul li a {
  font-size: 12px;
  color: #fff;
}
body header nav ul li a:hover {
  transition: all 1s ease-out;
}
body main {
  height: 100vh;
  background: url("../img/pexels-element-digital-1370298.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body main .container {
  width: 100%;
  height: 100%;
  background-color: rgba(2, 52, 75, 0.7);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
body main .container .showcase {
  width: 60%;
  padding: 1%;
  margin-left: 2%;
}
body main .container .showcase * {
  margin-bottom: 5%;
  border-radius: 1px;
}
body main .container .showcase h1 {
  color: #83d6fc;
  font-size: 50px;
}
body main .container .showcase p {
  font-size: 15px;
  text-transform: lowercase;
}
body section {
  height: 100vh;
  width: 100%;
  padding: 1%;
}
body section:nth-of-type(1) {
  height: 65vh;
  background-color: white;
}
body section:nth-of-type(1) .cards {
  height: 50%;
  width: 95%;
  border-radius: 10px;
  padding: 1%;
  margin-bottom: 2%;
}
body section:nth-of-type(1) .cards .card {
  text-align: center;
}
body section:nth-of-type(1) .cards .card i {
  font-size: 60px;
  margin-bottom: 10px;
}
body section:nth-of-type(1) .cards .card h1 {
  font-weight: 300;
}
body section:nth-of-type(1) .cards .card p {
  font-size: 15px;
  width: 76%;
  opacity: 0.6;
  margin-top: 15px;
}
body section:nth-of-type(2) {
  height: 100vh;
  width: 100%;
}
body section:nth-of-type(2) * {
  margin-bottom: 5%;
}
body section:nth-of-type(2) p {
  width: 90%;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
}
body section:nth-of-type(3) {
  text-align: center;
}
body section:nth-of-type(3) form {
  margin-top: 3%;
  width: 60%;
}
body section:nth-of-type(3) form input {
  width: 90%;
  padding: 2%;
  margin-bottom: 5%;
  border-radius: 10px;
  border: none;
  outline: none;
  height: 50px;
}
body section:nth-of-type(3) form textarea {
  height: 90px;
  width: 90%;
  padding: 2%;
  margin-bottom: 5%;
  border-radius: 5px;
  border: none;
  outline: none;
  border-radius: 10px;
}
body section:nth-of-type(3) form input:nth-of-type(3) {
  border: none;
  box-shadow: none;
}
body .form-container {
  width: 100%;
  height: 100vh;
}
body .form-container h1 {
  margin-top: 5%;
  font-size: 40px;
  color: #011219;
}
body .form-container p {
  width: 90%;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 5%;
}
body .form-container form {
  width: 45%;
  margin-top: 7.5%;
  border-radius: 10px;
  padding: 2% 2% 7% 2%;
}
body .form-container form h1 {
  margin-bottom: 5%;
  font-size: 30px;
}
body .form-container form input, body .form-container form select {
  background-color: transparent;
  width: 95%;
  padding: 2%;
  margin-bottom: 5%;
  border-radius: 10px;
  border: none;
  outline: none;
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2078431373);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  text-transform: none;
}
body .form-container form textarea {
  height: 90px;
  width: 90%;
  padding: 2%;
  margin-bottom: 5%;
  border-radius: 5px;
  border: none;
  outline: none;
  border-radius: 10px;
}/*# sourceMappingURL=main.css.map */